@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}
a.navlink{
    position: relative;

}
a.navlink::after{
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 100%;
    background-color: #343a40;
    width: 0;
    left: 50%;
    transform: translate(-50%);
    bottom:10%;
    transition: width 0.3s ease;
}
a.navlink.active::after{
    /* background-color: rgba(75, 85, 99, .25); */
    width: 78%;
}

a.navlink:hover::after{
    width: 78%;
    color: #343a40;
    /* background-color: rgba(75, 85, 99, .25); */
}